/.idea
CMakeFiles
CMakeCache.txt
cmake_install.cmake
/cmake-build-*/
/CMakeUserPresets.json
install_manifest.txt
EmberdawnIrrlicht.cmake
EmberdawnIrrlichtConfigVersion.cmake
EmberdawnIrrlichtTargets.cmake
Makefile
libs/*
*.so*
*.a
*.exe
*.dll
bin/Linux
